:root {
  font: 15px / 1 'Cantarell', sans-serif;
  color: black;
  --light-blue: #e2f4f4;
  --turquoise: #00c6db;
  --gray: #5d6f7e;
  --stone: #d8d8d8;
  --white: #ffffff;
}

html {
  height: 100%;
}
img {
  padding: 4px;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--light-blue);
}

h1 {
  font: 48px / 1 'Playfair Display', serif;
  font-weight: bold;
  color: var(--gray);
  text-align: center;
}
h3 {
  font: 22px / 1 'Nunito Sans', sans-serif;
  color: var(--gray);
  font-weight: 900;
}
h4 {
  font: 21px/ 1 'Nunito Sans', sans-serif;
  color: var(--gray);
}
footer ul {
  display: flex;
  justify-content: space-between;
  background-color: var(--stone);
  font-weight: bold;
  padding: 2vh 30vh;
  list-style-type: none;
}
/* .outer-container {
  display: flex;
  flex-direction: row;
} */

.menu {
  display: flex;
  justify-content: space-evenly;
  /* flex-shrink: inherit; */
  background-color: var(--turquoise);
  color: var(--white);
  list-style-type: none;
  font-weight: bold;
  font-size: medium;
  padding-top: 6px;
  padding-bottom: 9px;
}

.image {
  display: flex;
  height: 330px;
  width: 210px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 2px solid var(--turquoise);
  padding-bottom: 18px;
}
.image-header {
  justify-content: flex-start;
  margin: 8px;
  margin-left: -11px;
}
.image-list {
  margin-left: -42px;
  margin-top: 3px;
}

/* .article {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-color: var(--turquoise);
  padding-left: 2em;
} */
/* .media-object {
  margin-right: 1em;
} */
/* .article-body {
  flex: 1;
} */
/* .article-heading {
  margin: 0 0 0.5em;
  justify-content: center;
} */
/*DO I NEED THIS?
/* section {
  display: flex;
} */
a.menuClass {
  color: var(--white);
}
a.menuClass:hover {
  color: var(--white);
}
a {
  color: black;
}
.main {
  display: flex;
}
.content {
  min-height: 100%;
  margin-bottom: -50px;
}
.footer,
.push {
  height: 50px;
}
