:root {
  font: 15px / 1 'Cantarell', sans-serif;
  color: black;
  --light-blue: #e2f4f4;
  --turquoise: #00c6db;
  --gray: #5d6f7e;
  --stone: #d8d8d8;
  --white: #ffffff;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--light-blue);
}

h1 {
  font: 40px / 1 'Playfair Display', serif;
  font-weight: bold;
  color: var(--gray);
  text-align: center;
}
h3 {
  font: 22px / 1 'Nunito Sans', sans-serif;
  color: var(--gray);
  font-weight: 900;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  /* flex-shrink: inherit; */
  background-color: var(--turquoise);
  color: var(--white);
  list-style-type: none;
  font-weight: bold;
  font-size: medium;
  padding: 5px;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--stone);
  font-weight: bold;
  padding: 15px;
  list-style-type: none;
}
/* section {
  display: flex;
} */
